version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/EcoPulseBackend/Dockerfile
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_URLS: http://+:5000
    volumes:
      - ./backend:/app
      - /app/node_modules
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - VITE_HOST=0.0.0.0  
      - VITE_PORT=3000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data: