version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - pgdata:/var/lib/postgresql/data 
    networks:
      - app-network
  
  backend:
    build:
      context: .
      dockerfile: EcoPulseBackend/Dockerfile
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_URLS: http://+:5000
      ASPNETCORE_ENVIRONMENT: Development
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
    networks:
      - app-network
    
  frontend:
    build:
      context: ./EcoPulseFrontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
        

volumes:
  pgdata:
    
networks:
  app-network:
    driver: bridge