version: '3.8'

services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data 
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql 
    networks:
      - app-network
  
  backend:
    build:
      context: .
      dockerfile: EcoPulseBackend/Dockerfile
    ports:
      - "5000:5000"
    environment:
      ASPNETCORE_URLS: http://+:5000
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    depends_on:
      - db
    networks:
      - app-network
    
  frontend:
    build:
      context: ./EcoPulseFrontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
        

volumes:
  pgdata:
    
networks:
  app-network:
    driver: bridge